.table-member {
    height: 350px;
    overflow: auto;

    .member {
        display: flex;
        align-items: center;
        gap: 30px;

        .mem-info {
            font-size: 30px;
            margin-bottom: 5px;
            border-radius: 10px;
            width: 70%;
            display: flex;
            align-items: center;
            background-color: #DCDCDC;
            cursor: pointer;


            span {
                font-size: 30px;
                margin-left: 20px;
                margin-right: 20px;
                color: rgb(80, 199, 199);
            }
        }

        .icon {
            font-size: 30px;
            margin-bottom: 18px;
            color: #00FF00;
            cursor: pointer;
        }



    }
}