.column {
    flex: 0 0 auto;
    width: 350px;
    height: 76vh;
    margin-left: 50px;
    margin-top: 30px;
    overflow: auto;
    flex-direction: row;
    background: linear-gradient(#776161, #9198e5);
    border-radius: 10px;

    >* {
        background-color: #ebecf0;
        color: #333;
        padding: 0 8px;
    }

    .column-drag-handle {
        display: flex;
        padding-left: 20px;
        height: 43px;
        line-height: 40px;
        font-size: 26px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        align-items: center;

        .title-header {
            flex: 90%;
            overflow: hidden;
            overflow-x: auto;

        }
    }



    footer {
        padding-left: 70px;
        height: 50px;
        line-height: 32px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - 40px - 40px);
        overflow: auto;
        //   background-color: rgba(198, 41, 40, 0.3); ;

        li {
            // background-color: rgb(241, 237, 229);
            background-color: white;
            border-radius: 2px;
            margin-top: 10px;
            height: 180px;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;


            p {
                padding: 0 10px;
                overflow-wrap: anywhere;

            }

            &:last-child {
                // thuoc tinh nay ko danh cho phan tu cuoi cung
                margin-bottom: 10px;
            }

            .card-item_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                height: 180px;
                margin-bottom: 10px;
                // border-bottom: 1px solid #ebecf0;
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;

                gap: 20px;

                .title {
                    overflow-wrap: anywhere;
                    font-size: 25px;
                    width: 100%;
                    padding: 10px 10px;
                    height: 200px;
                    display: flex;

                    .edit-title {
                        width: 330px;
                        height: 95px;
                        overflow: hidden;
                        padding: 0 70px;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .title-col {
                        border: none;
                    }

                    .icon {
                        font-size: 25px;
                        color: red;

                        .icon-dropdown {
                            padding: 0 10px;
                            font-size: 20px;
                            font-weight: bold;
                            letter-spacing: 2px;
                            color: black;
                            background-color: white;
                            outline: none !important;
                            box-shadow: none !important;
                            border: none;

                            &::after {
                                content: "...";
                                border: none;
                            }
                        }

                    }



                }

                .flag {
                    height: 30px;
                    margin-left: 300px;
                    color: red;
                }

                .status {
                    display: flex;
                    align-items: center;
                    line-height: 25px;
                    height: 50px;
                    padding-bottom: 5px;

                    .dropDown {
                        width: 100px;
                        margin-right: 200px;
                        border: 1px solid black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        border-radius: 10px;
                        font-size: 15px;



                    }

                    .user {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        margin-top: 5px;
                        border: 1px solid gray;
                        height: 40px;
                        justify-content: center;
                        border-radius: 50%;
                        width: 50px;
                        background-color: #B2BEB5;



                    }

                }
            }
        }
    }

    .column-drag-handle {
        cursor: pointer;
    }

    .col-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .card-list {
        cursor: pointer;

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(6deg);
            font-weight: 600;
            color: #333;
        }

        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: 600;
        }
    }
}