.container-body{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    max-height: 100vh;
    .body-left{
        display: flex;
        flex-direction: column;
        flex: 70%;
        .title{
            display: flex;
            flex-direction: column;
            .title-header{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
            }
            .title-body{
                font-size: 25px;
                font-weight: 100;
            }
        }
        .Description{
            display: flex;
            flex-direction: column;
            .description-header{
                font-size: 25px;
                font-weight: 700;
                cursor: pointer;
                width: fit-content;
             }
             .description-body{
                font-size: 25px;
                font-weight: 100;
                padding: 10px 10px;
            }
            

        }
       
        .image{
            display: flex;
            flex-direction: column;
            .image-header{
                font-size: 25px;
                font-weight: 700;
                cursor: pointer;
                width: fit-content;



            }
            .image-body{
                margin-left: 30px;
                height: 100px;
                img{
                        max-width: 100%;
                        max-height: 90%;
                }
            }
            .Uploade-img{
                .label-upload{
                    display: flex;
                    align-items: center;
                    gap:6px;
                    width: fit-content;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #dcdcdc;
                    cursor: pointer;
                    
                }
                .img-previews{
                    border: 1px dashed red;
                    height: 200px;
                    width: 500px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ccc;
                    img{
                        max-width: 100%;
                        max-height: 90%;
                    }

                }
            }
        }
    }
    .body-right{
        display: flex;
        flex-direction: column;
        flex: 40%;
        width: 300px;
        .assignee{
            display: flex;
            flex-direction: column;
            margin-top: -220px;
            .assignee-title{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
                margin-bottom: 20px;
            }
           
        }
        .Reporter{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .Reporter-title{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
                margin-bottom: 20px;

            }

        }
    }
}
.chat-option{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .chat-option-left{
        display: flex;
        align-items: center;
        flex-direction: column;
        .chat-option-left_title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .chat-option-left_body{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: 95px;
            font-size: 20px ;
            span{
                border: 1px solid black;
                color: #dcdcdc;
                background-color: black;
                font-weight: 500;
            }
        }
    }
    .chat-option-right{
        display: flex;
        gap: 10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}
.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    background-color: #FAF0E6;
    margin-bottom: 30px;
    border-radius: 20px;
    .chat-input_header{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        .chat-input_img_header{
            width: 70px;
            height: 60px;
            img{
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
    
            }
    
        }
        .chat-input_text_header{
    
        }
        .chat-input_icon_header{
            button{
                font-size: 40px;
                display: flex;
                align-items: center;
                background-color: aqua;
            }
       
        }
    }
    



   .chat-body{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap:20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    .chat-left{
        display: flex;
        align-items: center;
        gap :5px;
   
        .chat-left_img{
            width: 60px;
            height: 50px;
            img{
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;

            }
            
        }
        .chat-left_text{ 
           
          
        }
        .chat-left_text_icon{
            cursor: pointer;
             font-size: 20px;
             color: red;
        }
        
    }
    .chat-right{
        margin-left: 290px;
        display: flex;
        align-items: center;
        gap :5px;
        justify-content: flex-end;
        
        .chat-right_icon{
            cursor: pointer;
            font-size: 20px;
            color: red;
        }
        .chat-right_text{
          
        }
        .chat-right_img{
            width: 60px;
            height: 50px;
            img{
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;

            }

        }

    }
   }
.chat-input{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
    .chat-input_img{
        width: 70px;
        height: 60px;
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;

        }

    }
    .chat-input_text{

    }
    .chat-input_icon{
        button{
            font-size: 40px;
            display: flex;
            align-items: center;
            background-color: aqua;
        }
   
    }
}
}
