.container-body{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .body-left{
        display: flex;
        flex-direction: column;
        flex: 70%;
        .title{
            display: flex;
            flex-direction: column;
            .title-header{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
            }
            .title-body{
                font-size: 25px;
                font-weight: 100;
            }
        }
        .Description{
            display: flex;
            flex-direction: column;
            .description-header{
                font-size: 25px;
                font-weight: 700;
                cursor: pointer;
                width: fit-content;
             }
             .description-body{
                font-size: 25px;
                font-weight: 100;
                padding: 10px 10px;
            }
            

        }
       
        .image{
            display: flex;
            flex-direction: column;
            .image-header{
                font-size: 25px;
                font-weight: 700;
                cursor: pointer;
                width: fit-content;



            }
            .image-body{
                margin-left: 30px;
                height: 100px;
                img{
                        max-width: 100%;
                        max-height: 90%;
                }
            }
            .Uploade-img{
                .label-upload{
                    display: flex;
                    align-items: center;
                    gap:6px;
                    width: fit-content;
                    padding: 3px 10px;
                    border-radius: 5px;
                    background-color: #dcdcdc;
                    cursor: pointer;
                    
                }
                .img-previews{
                    border: 1px dashed red;
                    height: 200px;
                    width: 500px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ccc;
                    img{
                        max-width: 100%;
                        max-height: 90%;
                    }

                }
            }
        }
    }
    .body-right{
        display: flex;
        flex-direction: column;
        flex: 40%;
        width: 300px;
        .assignee{
            display: flex;
            flex-direction: column;
            margin-top: -220px;
            .assignee-title{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
                margin-bottom: 20px;
            }
           
        }
        .Reporter{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            .Reporter-title{
                font-size: 25px;
                font-weight: 700;
                width: fit-content;               
                cursor: pointer;
                margin-bottom: 20px;

            }

        }
    }
}
.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info-coversation{
        font-size: 25px;
        flex: 40%;
        display: flex;
        flex-direction: column;
        overflow-wrap:anywhere;
        overflow: auto;
        margin-right: 40px;
        .coversation-left{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          border-bottom: 1px dashed #ccc;
          margin-bottom: 20px;
        
          .coversation-left_info {
            display: flex;
            font-size: 25px;
          .coversation-left_time{
            font-weight: 300;
          }
            .coversation-left_user{
                display: flex;
                gap:30px;
                margin-bottom: 10px;
               
                
            }
          
          
          }
          .coversation-left_title{
            margin-bottom: 10px;
            font-size: 35px;
          }
          .coversation-left_option{
            display: flex;
            gap:30px;
            .edit{
                color: orange;
            }
          }
          .coversation-left_info{
            display: flex;
            gap:50px
          }

        }
        .coversation-right{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            border-bottom: 1px dashed #ccc;
            margin-bottom: 20px;
            .coversation-right_info {
                display: flex;
                font-size: 25px;
                align-items: center;
                justify-content: flex-end;
                .coversation-righ_time{
                   font-weight: 300;
               }
              .coversation-left_user{
                display: flex;
                margin-right: 30px;                
                }
              }
            .coversation-righ_title{
                margin-bottom: 10px;
                font-size: 35px;
              }
    }
    .input-coversation{

        flex: 40%;
        width: 300px;
    }
}
}
