.board-content {
    display: flex;
    height: 65vh;
    font-size: 25px;
    overflow-x: auto;
    overflow-y: auto;

    &::after {
        content: "";
        flex: 0 0 10px;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(240, 233, 233, 0.24);
        border-radius: 8px;
    }

    .col-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px;
    }



}