.dashboard-cotainer {
    padding: 15px;
    background-color: #E0FFFF;
    height: 90%;
    gap: 30px;

    .tittle {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 90px;
    }

    .content {
        display: flex;
        height: 600px;

        .content-left {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 50%;
            gap: 20px;

            .item {
                width: calc(50% - 10px);
                border-radius: 10px;
                height: 150px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ccc;
                flex-direction: column;

            }

        }

        .content-right {
            width: 50%;
        }
    }
}